/*###################
-------HEADER--------
###################*/
header{
	margin: 0;
	padding: 13px;
    background-color:white;
    border-bottom: 2px solid black;
}
header a{
	text-decoration:none;
	color:black;
}
header nav ul{
	margin:0;
	padding:0;
}
/*----LOGO----*/
#logo{
    margin: 0;
    padding: 0;
}
#colour{
    background-color: black;
    margin: 0;
    padding: 7px;
    color: white;
}
#it{
    padding: 5px;
    border: 2px solid black;
}

/*----MENU----*/
#menu a { 
	display:inline-block;
}
#menu li ul li:first-child{
	border-top: 2px solid red;
}
.submenu:first-child{
	margin-left:105px;
}
.submenu{
	margin-right:70px;
}
.submenu1{
	text-align:left;
	padding-left:5px;
	padding-right: 40px;
	padding-bottom: 5px;
}
#menu li ul{
	border-bottom:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}
#menu > li{
	position: relative;
	display:inline-block;
	padding: 5px 15px;
}
#menu ul {
	position: absolute;
	top: 2em;
	left: 0;
	max-height:0em;	
	margin:16px 0 0 15px;
	background-color: white;
	overflow: hidden;
	transition: max-height 0.5s;
	list-style-type: none;
}
#menu > li:hover ul{
	max-height: 13em;
}

/*###################
-------BODY--------
###################*/
body{
	font-family: "Oswald";
	margin: 0;
	padding: 0;
	background-color:rgb(180,180,180);
}

/*###################
-----ANIMATION------
###################*/

/*----UNDERLINE----*/
.underline {
	display: inline-block;
	position: relative;
}
.underline:before { 
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	transform-origin: bottom left;
	transition: transform 0.25s ease-out;
}

.underline:hover:before {
	transform: scaleX(1);
}
/*###################
-----FONT------
###################*/
@font-face {
    font-family: 'Oswald';
    src: url('../Font/Oswald/Oswald.ttf');
    }