/*###################
-------HEADER--------
###################*/
header{
	margin: 0;
	padding: 0.5%;
	padding-bottom: 5em;
	background: linear-gradient(to top, var(--lightyellow), var(--orange) 10%);
}

header a{
	padding-top: 10%;
	text-decoration:none;
	color:var(--darkblue);
}

header nav ul{
	margin:0;
	padding:0;
}
/*----LOGO----*/
#logo{
    margin: 0;
	padding: 0;
	font-size: 1.5em;
}

#colour{
    background-color: var(--darkblue);
    margin: 0;
    padding: 4%;
	color: white;
	border-radius: 20px 0 0 20px;
}

#it{
    padding: 2.1%;
	border: .07em solid var(--darkblue);
	color: var(--darkblue);
	border-radius: 0 20px 20px 0;
}

/*----MENU----*/
#active{ 
	color:white;  /*a:active doesn't work*/
}

#menu a{ 
	display:inline-block;
	font-size: 1.5em;
}

#menu a:hover{
	color: var(--blue);
}

#menu li{
	position: relative;
	display:inline-block;
	margin: 0 7%;
}

/*###################
-------BODY--------
###################*/
body{
	margin: auto;
	padding: 0;
	background-color:var(--lightyellow);
}

article{
	margin: auto;
}

.title{
	font-size: 200%;
	color: var(--darkblue);
}

.content{
	font-size: 130%;
	color: var(--darkblue);
	padding-left: 15px;
}

#content_picutre{
	width: 40%;
}

.container{
	margin: 0 auto;
	width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links a:hover{
	color:var(--bluelinkhover);
	animation: arrow1 1s ease-in-out infinite;
}

.links a:hover img{
	animation: arrow1 1s ease-in-out infinite;
}

.links a{
	color:var(--bluelink);
	text-decoration: none;
	padding-left: 15px;
}

/*###################
-----FOOTER------
###################*/
#line{
	visibility: hidden;
}

footer{
	background: linear-gradient(to bottom, var(--lightyellow), var(--lightblue));
	margin: 0;
	padding: 0;
}

footer ul{
	position: relative;
	display:inline-block;
}

#footer{
	margin: 0 auto;
	width: calc(100vw - 64px);
    max-width: 960px;
	display: flex;
	align-items: flex-end;
	align-self: center;
	flex-direction: row;
}

/*----SOCIAL MEDIA----*/
#social_media_footer a{
	max-width: 20%;
}

#social_media_footer a{ 
	display:flex;
	align-items:center;
}

#social_media_footer li{
	position: relative;
	display:inline-block;
	width: 19%;
	min-width: 12%;
}

/*----CONTACT----*/
#contact_footer a{
	display:flex;
	align-items:center;
}

#contact_footer img{
	width:20%;
}

.footer_contact_info{
	font-size: 120%;
	text-decoration: none;
	color: var(--grey);
}

/*----TIME----*/
#op_times_footer{
	display: flex;
	align-items: flex-end;
}

#op_time_footer li{
	color:var(--darkblue);
	font-size: 120%;
}

.day_footer p{
	padding: 0;
	margin: 0;
}

/*----NAV----*/
.nav_footer a{
	text-decoration: none;
	color : var(--darkblue);
	font-size: 130%;
}

.nav_footer a:hover{
	color : var(--bluelinkhover);
}

.indentation_footer{
	padding-left: 10px;
}

/*###################
-----SCREEN------
###################*/
@media screen and (min-width:1209px) and (max-width:1429px){
	#menu li{
		margin: 0 3%;
	}

}

@media screen and (max-width:1208px) and (min-width:725px){
	#menu li{
		margin: 0 3%;
	}

	#op_time_footer li{
		font-size: 90%;
	}
	.nav_footer{
		font-size: 80%;
	}
	.footer_contact_info{
		font-size: 90%;
	}

}

@media screen and (max-width:724px){
	#menu li{
		margin: 0 3%;
	}

	#line{
		margin-top: 100px;
		visibility: visible;
	}

	#footer{
		flex-direction: column;
		width: 100%;
		align-items: center;

	}
	
}

/*###################
-----ANIMATION------
###################*/

/*----Zoom----*/
.zoom a:hover{
	transition: .3s ease-in-out;
	transform: scale(1.3);
}
/*----Arrow----*/
.arrow_image{
	max-width: 64px;
	max-height: 16px;
	margin-left: 10px;
	position: relative;
	top: 2px;
}

@keyframes arrow1 {
	0%,
	100% {
	  transform: translate(0, 0);
	}
  
	50% {
	  transform: translate(10px, 0);
	}
  }

/*----SLIDER----*/
#slider{
	max-width: 70%;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

@keyframes tonext {
	75% {
	  left: 0;
	}
	95% {
	  left: 100%;
	}
	98% {
	  left: 100%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes tostart {
	75% {
	  left: 0;
	}
	95% {
	  left: -300%;
	}
	98% {
	  left: -300%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes snap {
	96% {
	  scroll-snap-align: center;
	}
	97% {
	  scroll-snap-align: none;
	}
	99% {
	  scroll-snap-align: none;
	}
	100% {
	  scroll-snap-align: center;
	}
  }
  
  * {
	box-sizing: border-box;
	scrollbar-color: transparent transparent;
	scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
	width: 0;
  }

  ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .slider {
	position: relative;
	padding-top: 60%;
	filter: drop-shadow(0 0 10px #0003);
	perspective: 100px;
  }
  
  .slider_viewport {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
  }
  
  .slider_slide {
	position: relative;
	flex: 0 0 100%;
	width: 100%;
	background-image: url("../pictures/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .slider_slide:nth-child(2) {
	background-image: url("../pictures/2.jpg");
	background-repeat: no-repeat;
  }
  .slider_slide:nth-child(3) {
	background-image: url("../pictures/3.jpg");
	background-repeat: no-repeat;
  }
  .slider_slide:nth-child(4) {
	background-image: url("../pictures/4.jpg");
	background-repeat: no-repeat;
  }
  
  .slider_slide:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-40%,70px);
	font-size: 2em;
  }
  
  .slider_snapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scroll-snap-align: center;
  }
  
  @media (hover: hover) {
	.slider_snapper {
	  animation-name: tonext, snap;
	  animation-timing-function: ease;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
	}
  
	.slider_slide:last-child .slider_snapper {
	  animation-name: tostart, snap;
	}
  }
  
  @media (prefers-reduced-motion: reduce) {
	.slider_snapper {
	  animation-name: none;
	}
  }
  
  .slider:hover .slider_snapper, .slider:focus-within .slider_snapper {
	animation-name: none;
  }
  
  .slider_navigation {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
  }
  
  .slider_navigation-list, .slider_navigation-item {
	display: inline-block;
  }
  
  .slider_navigation-button {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #333;
	background-clip: content-box;
	border: 0.25rem solid transparent;
	border-radius: 50%;
	font-size: 0;
	transition: transform 0.1s;
  }
  
  .slider::before, .slider::after, .slider_prev, .slider_next {
	position: absolute;
	top: 0;
	margin-top: 29.5%;
	width: 4rem;
	height: 4rem;
	transform: translateY(-50%);
	border-radius: 50%;
	font-size: 0;
	outline: 0;
  }
  
  .slider::before, .slider_prev {
	left: -1rem;
  }
  
  .slider::after, .slider_next {
	right: -1rem;
  }
  
  .slider::before, .slider::after {
	content: '';
	z-index: 1;
	background-color: #333;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	font-size: 2.5rem;
	line-height: 4rem;
	text-align: center;
	pointer-events: none;
  }
  
  .slider::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .slider::after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

/*###################
-----FONT------
###################*/
@font-face {
    font-family: 'Oswald';
    src: url('../Font/Oswald/Oswald.ttf');
}
*{
	font-family: "Oswald";
}
/*###################
-----COLOR------
###################*/
:root{
--lightyellow:#FBE8A6;
--orange:#F4976C;
--darkblue:#303C6C;
--blue:#B5DEE6;
--lightblue:#D1FDFE;
--bluelinkhover:#4BADC2;
--bluelink:#318091;
--grey:#353533;
}
