/*###################
-------HEADER--------
###################*/
header{
	margin: 0;
	padding: 0.5%;
    background-color:#F4976C;
}

header a{
	padding-top: 10%;
	text-decoration:none;
	color:#303C6C;
}

header nav ul{
	margin:0;
	padding:0;
}
/*----LOGO----*/
#logo{
    margin: 0;
	padding: 0;
	font-size: 1.5em;
}

#colour{
    background-color: #303C6C;
    margin: 0;
    padding: 4%;
	color: white;
	border-radius: 20px 0 0 20px;
}

#it{
    padding: 2.1%;
	border: .07em solid #303C6C;
	color: #303C6C;
	border-radius: 0 20px 20px 0;
}

/*----MENU----*/
#active{ 
	color:white;  /*a:active doesn't work*/
}

#menu a{ 
	display:inline-block;
	font-size: 1.5em;
}

#menu a:hover{
	color: #B5DEE6;
}

#menu li{
	position: relative;
	display:inline-block;
	margin: 0 5em;
}


/*###################
-------BODY--------
###################*/
body{
	margin: auto;
	padding: 0;
	background-color:#FBE8A6;
}

article{
	margin: auto;
}

/*###################
-----ANIMATION------
###################*/
/*----SLIDER----*/
#slider{
	max-width: 95%;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

@keyframes tonext {
	75% {
	  left: 0;
	}
	95% {
	  left: 100%;
	}
	98% {
	  left: 100%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes tostart {
	75% {
	  left: 0;
	}
	95% {
	  left: -300%;
	}
	98% {
	  left: -300%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes snap {
	96% {
	  scroll-snap-align: center;
	}
	97% {
	  scroll-snap-align: none;
	}
	99% {
	  scroll-snap-align: none;
	}
	100% {
	  scroll-snap-align: center;
	}
  }
  
  * {
	box-sizing: border-box;
	scrollbar-color: transparent transparent;
	scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
	width: 0;
  }

  ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .slider {
	position: relative;
	padding-top: 60%;
	filter: drop-shadow(0 0 10px #0003);
	perspective: 100px;
  }
  
  .slider_viewport {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
  }
  
  .slider_slide {
	position: relative;
	flex: 0 0 100%;
	width: 100%;
	background-image: url("../pictures/1.jpg");
	background-repeat: no-repeat;
  }
  
  .slider_slide:nth-child(2) {
	background-image: url("../pictures/2.jpg");
	background-repeat: no-repeat;
  }
  .slider_slide:nth-child(3) {
	background-image: url("../pictures/3.jpg");
	background-repeat: no-repeat;
  }
  .slider_slide:nth-child(4) {
	background-image: url("../pictures/4.jpg");
	background-repeat: no-repeat;
  }
  
  .slider_slide:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-40%,70px);
	font-size: 2em;
  }
  
  .slider_snapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scroll-snap-align: center;
  }
  
  @media (hover: hover) {
	.slider_snapper {
	  animation-name: tonext, snap;
	  animation-timing-function: ease;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
	}
  
	.slider_slide:last-child .slider_snapper {
	  animation-name: tostart, snap;
	}
  }
  
  @media (prefers-reduced-motion: reduce) {
	.slider_snapper {
	  animation-name: none;
	}
  }
  
  .slider:hover .slider_snapper, .slider:focus-within .slider_snapper {
	animation-name: none;
  }
  
  .slider_navigation {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
  }
  
  .slider_navigation-list, .slider_navigation-item {
	display: inline-block;
  }
  
  .slider_navigation-button {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #333;
	background-clip: content-box;
	border: 0.25rem solid transparent;
	border-radius: 50%;
	font-size: 0;
	transition: transform 0.1s;
  }
  
  .slider::before, .slider::after, .slider_prev, .slider_next {
	position: absolute;
	top: 0;
	margin-top: 37.5%;
	width: 4rem;
	height: 4rem;
	transform: translateY(-50%);
	border-radius: 50%;
	font-size: 0;
	outline: 0;
  }
  
  .slider::before, .slider_prev {
	left: -1rem;
  }
  
  .slider::after, .slider_next {
	right: -1rem;
  }
  
  .slider::before, .slider::after {
	content: '';
	z-index: 1;
	background-color: #333;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	font-size: 2.5rem;
	line-height: 4rem;
	text-align: center;
	pointer-events: none;
  }
  
  .slider::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .slider::after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

/*###################
-----FONT------
###################*/
@font-face {
    font-family: 'Oswald';
    src: url('../Font/Oswald/Oswald.ttf');
}
*{
	font-family: "Oswald";
}

/*###################
-----COLOR------
###################
#FBE8A6
#F4976C
#303C6C
#B5DEE6
#D1FDFE
*/